cards:
    'serial-number':
        title: "Serial"
        question: "Please enter the serial number"
        input:
            tag: 'serial'
            type: "numeric"
            placeholder: "Serial number"
            description: "The serial number can be found at the back of the machine"
            validate: '(T|J)(WE|TD)[0-9]+'

        qrcode:
            label: "Get from QR code"
            description: "Read the QR code on the alert message or go to the Service > Machine info menu"

        positive:
            label: "Done"
            autoselect:
                serial: true
            target: 'identify-machine'

        negative:
            label: "I can't"
            target: 'identify-machine'

    'identify-machine':
        title: "Machine"
        question: "Which model is your machine?"
        options: [
            { title: "TWE10 or TWE15", target: 'we-s/alarm/alarm-code' }
            { title: "TWE20 or TWE40", target: 'we-m/alarm/alarm-code' }
            { title: "TWE60", target: 'we60/alarm/alarm-code' }
            { title: "TWE110", target: 'we110/alarm/alarm-code' }
        ]
        description: '''
            Choose the model of your machine from the list provided.
            The machine identifier can be seen behind the machine on
            the top right corner of the nameplate.
        '''
        positive:
            label: "Select"

        negative:
            label: "Not in list"
            target: 'request-help'

    'request-help':
        title: "Request help"
        final: true
        question: "Please call +90-232-363-0000 for help"
        call: "+90-232-363-0000"
        description: """
            We are sorry that we couldn't find a solution immediately. Our staff
            is always happy to help and solve your problem. Just give us a call.
        """
