cards:
    'check-vacuum-parameters':
        title: "Check Vacuum Parameters"
        processes: [
            title: "Check the vacuum related system parameters"
            steps: [
                'Shut off electricity to the dryer by pressing the "Emergency Stop" button.'
                'Press and hold the "Up Direction" button.'
                'Release the "Emergency Stop" button to power on the dryer.'
                'Enter the password by pressing the up-down direction buttons to change the numbers in each digit and press the stop-start (left-right direction) buttons to change the digits.'
                'Complete the password entry by pressing the "OK" button.'
                'The controller will display the first parameter in the list.'
                'Check the 59. and 60. parameters to see if they have been changed by pressing the up-down direction buttons to change the parameter number.'
            ]
        ]
        question: "Have they been modified?"
        positive:
            target: 'revert-vacuum-parameters'
        negative:
            target: 'check-sail-switch'

    'revert-vacuum-parameters'
        title: "Revert Vacuum Parameters Back to Original Settings"
        processes: [
            title: "Revert the vacuum parameters back to their original settings"
            steps: [
                'Select the changed vacuum parameter.'
                'Press the "OK" button to switch to value editing mode.'
                'Change the values by pressing the up-down direction buttons. Change digits by pressing the stop-start (left-right direction) buttons.'
                'When the value has been defined press the "Cancel" button to return to the parameter menu.'
                'Press the "Cancel" button in the parameter menu and answer the question "Save ?" with "Y" (Yes) to save the changes.'
                'If another vacuum parameter has been changed, too, repeat the steps 1 to 6 for the related parameter.'
            ]
            "general/run-a-program"
        ]
        question: "Is the problem solved?"
        positive:
            target: 'problem-solved'
        negative:
            target: 'check-sail-switch'

    'check-sail-switch':
        title: "Check Operation of Sail Switch"
        processes: [
            title: "Check the operation of the sail switch"
            steps: [
                'Open the electic cabinet door'
                'Enter the Diagnostics menu'
                'Select DI4 (Vacuum DI)'
                'Press the sail switch flap'
                'Check if the DI4 value is changing when you press and release the flap'
            ]
        ]
        question: "Is it operating?"
        positive:
            target: 'check-sail-switch-flap'
        negative:
            target: 'check-loading-door-closing'

    'check-loading-door-closing':
        title: "Check closing of Loading Door"
        processes: [
            title: "Check the closing of the loading door"
            steps: [
                'Check if the loading door is air tight'
            ]
        ]
        question: "Is it closing?"
        positive:
            target: 'check-lint-filter-closing'
        negative:
            target: 'fix-loading-door-closing'

    'check-lint-filter-closing'
        title: "Check closing of Lint Filter Door"
        processes: [
            title: "Check the closing of the lint filter door"
            steps: [
                'Check if the lint filter door is air tight'
            ]
        ]
        question: "Is it closing?"
        positive:
            target: 'check-lint-filter-dust'
        negative:
            target: 'close-lint-filter-door'

    'fix-loading-door-closing'
        title: "Fix closing of Loading Door Problem"
        processes: [
            title: "Fix the closing problem of the loading door"
            steps: [
                'Fix the air gap of the loading door'
            ]
            "general/run-a-program"
        ]
        question: "Is the problem solved?"
        positive:
            target: 'problem-solved'
        negative:
            target: 'check-lint-filter-closing'

    'close-lint-filter-door'
        title: "Close Lint Filter Door"
        processes: [
            title: "Close the lint filter door correctly"
            "general/run-a-program"
        ]
        question: "Is the problem solved?"
        positive:
            target: 'problem-solved'
        negative:
            target: 'check-lint-filter-dust'

    'check-lint-filter-dust'
        title: "Check Dust on Lint Filter"
        processes: [
            title: "Check the dustiness of the lint filter"
        ]
        question: "Is the filter dusty?"
        positive:
            target: 'clean-lint-filter'
        negative:
            target: 'check-fan-motor-rotation'

    'clean-lint-filter'
        title: "Clean Lint Filter"
        processes: [
            title: "Clean the lint filter"
            "general/run-a-program"
        ]
        question: "Is the problem solved?"
        positive:
            target: 'problem-solved'
        negative:
            target: 'check-fan-motor-rotation'

    'check-fan-motor-rotation'
        title: "Check Fan Motor Rotation Direction"
        processes: [
            title: "Check the rotation direction of the fan motor"
        ]
        question: "Is it rotating CW?"
        positive:
            target: 'check-exhaust-outlet'
        negative:
            target: 'fix-fan-motor-rotation'

    'fix-fan-motor-rotation'
        title: "Fix Fan Motor Rotation Direction"
        processes: [
            title: "Fix the rotation direction of the fan motor"
            "general/run-a-program"
        ]
        question: "Is the problem solved?"
        positive:
            target: 'problem-solved'
        negative:
            target: 'check-exhaust-outlet'

    'check-exhaust-outlet'
        title: "Check Exhaust Outlet"
        processes: [
            title: "Check the exhaust outlet"
        ]
        question: "Is the exhaust blocked?"
        positive:
            target: 'clean-exhaust'
        negative:
            target: 'check-sail-switch-flap'

    'clean-exhaust'
        title: "Clean/Clear Exhaust"
        processes: [
            title: "Clean/Clear the exhaust"
            "general/run-a-program"
        ]
        question: "Is the problem solved?"
        positive:
            target: 'problem-solved'
        negative:
            target: 'check-sail-switch-flap'

    'check-sail-switch-flap'
        title: "Check Sail Switch Flap"
        processes: [
            title: "Check the flap of the sail switch"
        ]
        question: "Is the flap functioning?"
        positive:
            target: 'check-sail-switch-flap-pallet'
        negative:
            target: 'replace-sail-switch-flap'

    'replace-sail-switch-flap'
        title: "Replace Sail Switch Flap"
        processes: [
            title: "Replace the sail switch flap"
            "general/run-a-program"
        ]
        question: "Is the problem solved?"
        positive:
            target: 'problem-solved'
        negative:
            target: 'check-sail-switch-flap-pallet'

    'check-sail-switch-flap-pallet'
        title: "Check Sail Switch Flap Pallet"
        processes: [
            title: "Check the sail switch flap pallet"
        ]
        question: "Is it set correctly?"
        positive:
            target: 'check-sail-switch-terminal-cable'
        negative:
            target: 'reset-sail-switch-flap'

    'reset-sail-switch-flap'
        title: "Reset Sail Switch Flap"
        processes: [
            title: "Reset the sail switch flap"
            "general/run-a-program"
        ]
        question: "Is the problem solved?"
        positive:
            target: 'problem-solved'
        negative:
            target: 'check-sail-switch-terminal-cable'

    'check-sail-switch-terminal-cable'
        title: "Check Cable between Sail Switch and Electric Terminal"
        processes: [
            title: "Check the cable between the sail switch and the electric terminal"
        ]
        question: "Is the cable functional?"
        positive:
            target: 'check-terminal-control-panel-cable'
        negative:
            target: 'replace-sail-switch-terminal-cable'

    'replace-sail-switch-terminal-cable'
        title: "Replace Cable between Sail Switch and Electric Terminal"
        processes: [
            title: "Replace/Repair the cable between the sail switch and the electric terminal"
            "general/run-a-program"
        ]
        question: "Is the problem solved?"
        positive:
            target: 'problem-solved'
        negative:
            target: 'check-terminal-control-panel-cable'

    'check-terminal-control-panel-cable'
        title: "Check Cable between Electric Terminal and Control Panel"
        processes: [
            title: "Check the cable between the electric terminal and the control panel"
        ]
        question: "Is the cable functional?"
        positive:
            target: 'change-vacuum-di'
        negative:
            target: 'replace-terminal-control-panel-cable'

    'replace-terminal-control-panel-cable'
        title: "Replace Cable between Electric Terminal and Control Panel"
        processes: [
            title: "Replace/Repair the cable between the electric terminal and the control panel"
            "general/run-a-program"
        ]
        question: "Is the problem solved?"
        positive:
            target: 'problem-solved'
        negative:
            target: 'change-vacuum-di'

    'change-vacuum-di'
        title: "Change Vacuum Sensor DI Assignment"
        processes: [
            title: "Change the DI assignment for the Vacuum Sensor"
        ]
        question: "Is the problem solved?"
        positive:
            target: 'problem-solved'
        negative:
            target: 'send-cp-to-service'

    'problem-solved':
        title: "Problem is solved"
        final: true
        question: "Thanks"

    'send-cp-to-service':
        title: "Send the CP to the service"
        final: true
        question: "Thanks"
