cards:
    'check-steam-heating-do':
        title: "Check Steam Heating DO"
        processes: [
            title: "Check the Steam Heating DO on the Diagnostic"
            video: 'ht_0025'
            steps:
                '00:00.00': 'Enter the "Main" menu by selecting and pressing the "Menu" button'
                '00:05.00': 'Enter the "Service" menu by selecting and pressing the "Service" button'
                '00:09.00': 'Enter the "Diagnostics" screen by selecting and pressing the "Diagnostics" button (The "Manual Control" button on versions prior to 1.0)'
                '00:15.00': 'Select the "Steam Valve" DO on the "Digital Outputs" frame'
                '00:19.00': 'Press the "OK" button to activate the "Steam Valve" DO'
                '00:23.00': 'Insert one lead of the multimeter to any socket between the 12. and the 22. sockets on the S11 socket group and insert the other lead of the multimeter to the 7. socket on the S13 socket group'
        ]
        question: "Is the DO functioning?"
        positive:
            target: 'check-cable-steam-valve-cp'
        negative:
            target: 'steam-heating-do-available'

    'steam-heating-do-available':
        title: "Steam Heating DO available"
        processes: [
            title: "Check the Steam Heating DO availability"
            video: 'ht_0138'
            steps:
                '00:00.00': 'Enter the "Main" menu by selecting and pressing the "Menu" button'
                '00:07.00': 'Enter the "Service" menu by selecting and pressing the "Service" button'
                '00:11.00': 'Enter the "I/O Link" screen by selecting and pressing the "I/O Link" button'
                '00:16.00': 'Select the Steam Valve DO'
                '00:38.00': 'Press the "OK" button to enter the edit mode'
                '00:40.00': 'Change the current DO to one of the available DOs by pressing the up-down direction buttons'
        ]
        question: "Are there any unused available DOs?"
        positive:
            target: 'change-steam-heating-do'
        negative:
            target: 'send-cp-to-service'

    'change-steam-heating-do':
        title: "Change Steam Heating DO"
        processes: [
            title: "Change the DO assignment for the Steam Heating"
            video: 'ht_0026'
            steps:
                '00:00.00': 'Press the "OK" button to assign the target DO'
                '00:07.00': 'Press the "Exit" button to exit. At this stage the software will ask you if you want to save the changes. To save your changes select the "Yes" button by pressing the left-right direction buttons and press the "OK" button to confirm the selection'
                '00:10.00': 'The software will return to the "Service" menu'
                '00:16.00': 'Detach the S13 socket plug from the back of the Control Panel'
                '00:28.00': 'Remove the 7. socket terminal from the S13 socket plug by pushing down the fins of the socket terminal with the terminal removal tool'
                '00:50.00': 'Attach the S13 socket plug into the S13 socket'
                '00:55.00': 'Raise up the fins of the socket terminal with the terminal removal tool'
                '01:11.00': 'Detach the S19 socket plug from the back of the Control Panel'
                '01:16.00': 'Insert the socket terminal into the 6. socket of the S19 socket plug which corresponds to the DO which has been assigned in the DO assignment step in this video (Step no 1). Warning: You have to select the corresponding socket and socket plug if you choose another DO for this procedure. You can find a list of the DOs and their corresponding sockets on the back of the Control Panel'
                '01:23.00': 'Attach the S19 socket plug into the S19 socket'
                '01:29.00': 'Enter the "Diagnostic" screen by selecting and pressing the "Diagnostic" button'
                '01:35.00': 'Select the "Steam Valve" DO on the "Digital Outputs" frame'
                '01:40.00': 'Press the "OK" button to activate the "Steam Valve" DO'
                '01:44.00': 'Check the voltage value by inserting one lead of the multimeter into any socket between the 12. and the 22. sockets on the S11 socket group and inserting the other lead of the multimeter into the 6. socket on the S19 socket group'
        ]
        question: "Does ±24V DC exist on the DO?"
        positive:
            target: 'general/run-a-program'
        negative:
            target: 'steam-heating-do-available'

    'run-a-program':
        title: "Run A Program"
        processes: [
            "general/run-a-program"
        ]
        positive:
            target: 'problem-solved'
        negative:
            target: 'check-cable-steam-valve-cp'

    'check-cable-steam-valve-cp':
        title: "Check Cable Steam Valve CP"
        processes: [
            title: "Check the cable between the steam control valve and the CP"
            video: 'ht_0029'
            steps:
                '00:00.00': 'Unscrew the control valve socket holder screw from the steam control valve coil by using a screwdriver'
                '00:10.00': 'Detach the steam valve coil socket from the steam control valve coil'
                '00:17.00': 'Detach the terminal block of the socket from its housing by using the screwdriver as a lever'
                '00:22.00': 'Check the voltage between the terminals of the terminal block by using a voltmeter'
        ]
        question: "Is the cable functional?"
        positive:
            target: 'check-steam-valve-coil'
        negative:
            target: 'replace-steam-valve-cp-cable'

    'replace-steam-valve-cp-cable':
        title: "Replace/Repair Steam Valve-CP Cable"
        processes: [
            title: "Replace/Repair the cable between the Steam Control Valve and the CP"
            steps: [
                'Burada tanımlanan sıra ile arka kapak açma, üst kapaklar (üstte üç ayrı parça kapak var) açma, ön kapak açma yapılır.'
                'Kablo yolu üzerindeki klipsler açılır.'
                'Pano içi makaron çıkartılır.'
                'Kontrol paneli arkasındaki buhar, sıcak su, soğuk su, tahliye, devrilme (yukarı-aşağı) DO kabloları ve ortak uç (eksi) -24V DC kablosu soketlerinden çıkartılırlar.'
                'Yukarıdaki maddede değinilen uçların cihaz arkasındaki karşı uçları da valf soketlerinden çıkartılırlar.'
                'Yeni kablo valf uçları soketlerine takılır.'
                'Kontrol paneli arkasındaki buhar, sıcak su, soğuk su, tahliye, devrilme (yukarı-aşağı) DO kabloları ve ortak uç (eksi) -24V DC kablosu soketlerine takılır.'
                'Pano içi makaron kablolara sarılır.'
                'Kablo yolu üzerindeki kablolar klipslenir.'
            ]
        ,
            title: "Check the Steam Valve DO on the Diagnostic"
            video: 'ht_0159'
            steps:
                '00:00.00': 'Enter the "Main" menu by selecting and pressing the "Menu" button'
                '00:05.00': 'Enter the "Service" menu by selecting and pressing the "Service" button'
                '00:09.00': 'Enter the "Diagnostics" screen by selecting and pressing the "Diagnostics" button (The "Manual Control" button on versions prior to 1.0)'
                '00:15.00': 'Select the "Steam Valve" DO on the "Digital Outputs" frame'
                '00:19.00': 'Press the "OK" button to activate the "Steam Valve" DO'
        ]
        question: "Is the problem solved?"
        positive:
            target: 'problem-solved'
        negative:
            target: 'check-steam-valve-coil'

    'check-steam-valve-coil':
        title: "Check Steam Control Valve Coil"
        processes: [
            title: "Check the Steam Valve DO on the Diagnostic"
            video: 'ht_0159'
            steps:
                '00:00.00': 'Enter the "Main" menu by selecting and pressing the "Menu" button'
                '00:05.00': 'Enter the "Service" menu by selecting and pressing the "Service" button'
                '00:09.00': 'Enter the "Diagnostics" screen by selecting and pressing the "Diagnostics" button (The "Manual Control" button on versions prior to 1.0)'
                '00:15.00': 'Select the "Steam Valve" DO on the "Digital Outputs" frame'
                '00:19.00': 'Press the "OK" button to activate the "Steam Valve" DO'
        ,
            title: "Check the coil of the steam control valve"
            video: 'ht_0027'
            steps:
                '00:26.00': 'Check the resistance value between the terminals of the steam control valve coil terminals by using a multimeter'
                '00:26.00': 'Attach the terminal block of the socket into its housing'
                '00:26.00': 'Insert the socket holder screw into its screw hole'
                '00:26.00': 'Attach the steam valve coil socket onto the steam control valve coil'
                '00:26.00': 'Screw the coil socket onto the coil via its holder screw by using a screwdriver'
        ]
        question: "Is the coil functioning?"
        positive:
            target: 'check-hose-pneumatic-valve-base'
        negative:
            target: 'replace-steam-valve-coil'

    'replace-steam-valve-coil':
        title: "Replace Steam Control Valve Coil"
        processes: [
            title: "Replace the coil of the Steam Control Valve"
            video: 'ht_0028'
            steps:
                '00:00.00': 'Unbolt the plastic nut which fastens the coil onto the coil armature on the back of the valve'
                '00:11.00': 'Remove the coil from the steam control valve by pulling it downwards from the front side of the coil along the armature (back of the machine)'
                '00:24.00': 'Install the new coil onto the steam control valve by pushing it upwards from the front side until the coil reaches the base of the armature (back of the machine)'
                '00:39.00': 'Bolt the plastic nut which fastens the coil onto the armature whilst pushing the coil upwards'
                '00:52.00': 'Attach the steam valve coil socket onto the new coil'
                '00:57.00': 'Screw the coil socket onto the coil via its holder screw by using a screwdriver'
            "general/run-a-program"
        ]
        question: "Is the problem solved?"
        positive:
            target: 'problem-solved'
        negative:
            target: 'check-hose-piston-valve-control-valve'

    'check-hose-piston-valve-control-valve':
        title: "Check Hose Between Steam Piston Valve and Steam Control Valve"
        processes: [
            title: "Check the reliability of the hose between the Steam Piston Valve and the Steam Control Valve"
            video: 'ht_0031'
            steps:
                '00:00.00': '''
                Check the reliability of the hose between the Steam Piston Valve and the
                Steam Control Valve by detaching the hose from the steam output fitting
                of the Steam Control Valve and observing the air flow
                '''
        ]
        question: "Is the hose valid?"
        positive:
            target: 'check-pneumatic-steam-valve'
        negative:
            target: 'replace-hose-piston-valve-control-valve'

    'replace-hose-piston-valve-control-valve':
        title: "Replace Hose Between Steam Piston Valve and Steam Control Valve"
        processes: [
            title: "Replace the hose between the Steam Piston Valve and the Steam Control Valve"
            video: 'ht_0084'
            steps:
                '00:00.00': 'Unplug the hose from the steam control valve'
                '00:05.00': 'Follow the cable route and free the cable from its clips'
                '00:20.00': 'Unplug the other end of the hose from the steam valve'
                '00:25.00': 'Plug the new hose into the steam valve and get the hose clipsed and plug the other end of the hose into the steam control valve'
            "general/run-a-program"
        ]
        question: "Is the problem solved?"
        positive:
            target: 'problem-solved'
        negative:
            target: 'send-cp-to-service'

    'problem-solved':
        title: "Problem is solved"
        final: True
        question: "Thanks"

    'send-cp-to-service':
        title: "Send the CP to the service"
        final: True
        question: "Thanks"
